<ion-view title="About CLV Calculator" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="aboutCLVCalculator-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This calculator allows you to estimate the customer lifetime value (CLV) in the the simplest way; when the sales cycle is not too complicated you can approximate the calculation by using the 'turnover', 'number of customers', and 'churn rate' (%
        of customers that stop buying from you every month). </p>

      <p style="color:#000000;">If you need a more accurate value, you can do so by inputing the profit margin (% Gross margin), and your financing interest rate (you can use your APR: eg. 5% for loans, 25% for credit card, etc).</p>
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <ion-list id="aboutCLVCalculator-list1">
      <ion-item class="item-thumbnail-left item-icon-right" id="aboutCLVCalculator-list-item1" href-inappbrowser="http://www.matterof.biz">
        <img src="img/C6Ctks6sSTGzaHZptwUu_logo_matterofbiz2_sq.jpg">
        <h2>Visit our web</h2>
        <p>www.matterof.biz</p>
        <i class="icon ion-android-phone-portrait"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>